html{
    background-color: hsl(53, 35%, 83%);
    font-size:16px;
}
.page{
    display:none;
    position: absolute;
    z-index: 10;
    opacity: 0;
    
}


.active{
    display: block;
    position: absolute;
    z-index: 100;
    opacity: 1;
}
#search{
    
    font-size: 1.953rem;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border: 3px solid;
    box-shadow: 2px 2px 2px hsl(0, 3%, 29%);
    border-radius: 10px;
    background-color:hsl(0, 0%, 87%) ;
    color: hsl(0, 0%, 30%);
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width:100vw;
    height:100vh;
    text-align: center;
    
}
#actors{
    
    
    text-align: center;
    color: hsl(53, 33%, 19%);
    font-size: 1.953rem;
    top:10%;
    left:10%;
    margin-top: -50px;
    
   
}
#actors p{
    height:350px;
    width:250px;
    text-align: center;
    
    background-color: hsl(0, 0%, 87%);
}




#movies{
    
    color: hsl(53, 26%, 23%);
    font-size: 1.25rem;
    top:10%;
    left:30%;
    
    
}

#movies img{
    margin-top: 5rem;
    border: 2px solid;
}

#movie{
    color: hsl(53, 6%, 24%);
    font-size: 1.953rem;
    top:10%;
    left:10%;
    margin-top: -50px;
    
    
}


.search{
    color: hsl(0, 1%, 25%);
   font-size: 3.052rem;
   
   text-shadow: 1px 1px 1px hsl(0, 1%, 20%);
   
   
}

button{
    font-size: 1.953rem;
    margin:50px;
    margin-top: 30px;
    padding:3px;
    border-radius: 10px;
    border: 3px solid;
    box-shadow: 2px 2px 2px hsl(0, 5%, 31%);
    background-color: hsl(53, 35%, 21%);
    color: hsl(53, 76%, 75%);
}
h1{
    
   
    left:40%;
    margin-top: -50px;
    margin-left: -100px; 
}
.cast{
    
    width:185px;
    margin: 2rem;
    border:2px solid;
}
.box{
    
    width:185px;
    margin: 2rem;
    border:2px solid;
}
.FAB{
    width:50px;
    height:50px;
    top:80%;
    left:80%;  
    position: fixed;
    
    
}

@media screen and (min-width:550px){
    #home{
        position: absolute;
        width:100vw;
        height:100vh;
            
    }
    #search{
        font-size: 2.441rem;
        width: 250px;
        height: 50px;
        margin-top: 20px;
        border: 3px solid;
        box-shadow: 2px 2px 2px hsl(0, 3%, 22%);
        border-radius: 10px;
    } 
    .search{
        font-size: 3.252rem;
        margin: 50px;
        text-shadow: 1px 1px 1px hsl(0, 4%, 5%);
        
        
     }
     button{
        font-size: 1.95rem;
        margin:70px;
        margin-top: 30px;
        padding:3px;
        border-radius: 10px;
        border: 3px solid;
        box-shadow: 2px 2px 2px hsl(0, 1%, 28%);
    }
    #actors{
        
        align-items: center;
        font-size: 1.953rem;
        top:10%;
        left:20%;
        
       
    }
    #movies{
    
        font-size: 1.953rem;
        top:10%;
        left:30%;
        
        
    }
    #movie{
        font-size: 1.953rem;
        top:10%;
        left:20%;
        margin-top: -50px;
        
    }
    .FAB{
        width:60px;
        height:60px;
        top:80%;
        left:90%;
        
        position: fixed;
        
        
    }
    

}

@media screen and (min-width:780px){
    #home{
        position: absolute;
        width:100vw;
        height:100vh;
       
    }
    #search{
        font-size: 2.441rem;
        width: 500px;
        height: 50px;
        margin-top: 20px;
        border: 3px solid;
        box-shadow: 2px 2px 2px hsl(0, 3%, 22%);
        border-radius: 10px;
    } 
    .search{
        font-size: 3.252rem;
        margin: 150px;
        text-shadow: 1px 1px 1px hsl(0, 4%, 5%);
        
        
     }
     button{
        font-size: 2.441rem;
        margin:150px;
        margin-top: 30px;
        padding:3px;
        border-radius: 10px;
        border: 3px solid;
        box-shadow: 2px 2px 2px hsl(0, 1%, 28%);
    }
    #actors{
        
        font-size: 1.953rem;
        top:10%;
        left:30%;  
        margin-top: -50px;
       
    }
    #movies{
    
        font-size: 3.052rem;
        top:10%;
        left:30%;
        
        
    }
    #movie{
        font-size: 1.953rem;
        top:10%;
        left:30%;
        margin-top: -50px;
    }
   
    .FAB{
        width:70px;
        height:70px;
        top:80%;
        left:90%;
        position: fixed;
        
        
    }
    

}

@media screen and (min-width:1100px){
    #actors{
        
        font-size: 1.953rem;
        top:10%;
        left:40%;  
        margin-top: -50px;
       
    }
    
    #movies{
    
        font-size: 3.052rem;
        top:10%;
        left:40%;
        
        
    }
    #movie{
        font-size: 1.953rem;
        top:10%;
        left:40%;
        margin-top: -50px;
        
    }
}
